body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: center;
    background: #E52B50;
    overflow: hidden;
    color: midnightblue;
}

.navbar a {
    font-size: 16px;
    color: #002D62;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-weight: bold;
}

.navbar a:hover {
    background-color: #660000;
    color: rgb(255, 255, 255);
}

/* Dropdown styles */
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    font-weight: bold;
    border: none;
    outline: none;
    color: midnightblue;
    background-color: inherit;
    margin: 0;
    padding: 14px 16px;
    cursor: pointer;
    transition: 0.3s;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: 0.2s;
}

.dropdown-content a:hover {
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Animation for the navbar */
.navbar a.slide {
    animation: slide-in 0.5s forwards;
}

@keyframes slide-in {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}